<!DOCTYPE html>
<html lang="en" >
<head>
  <meta name = "viewport"  charset="UTF-8">
  <title>crossword</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="wrapper">
	  <h1>Crossword Puzzle Generator</h1>
	  <p></p>
<form action="/puzzle" method="post">
	<div class="btn-groups">
	<input class="textbox" autofocus name="name" placeholder="Number of maximum words" type="text"><br>
	<button class="btn-green-tr" type="submit" >Generate Crossword</button>
	</div>
</form>
</body>
</html>
