<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block main %}{% endblock %}
    <footer>
        <br>
        Made with love by: Bhavik Sachdev and Ashutosh Jaiswal
        <br>
        Code on <a href="https://github.com/bsach64/CrosswordPuzzleGenerator">Github</a>
    </footer>   
    </body>
</html>