<!DOCTYPE html>
<html lang="en" >
<head>
    <meta name = "viewport" charset="UTF-8">
    <title>crossword</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <h1 class="h1">Crossword Puzzle</h1>
    <section class="container">
        <div class="image">
        <img src="/static/crossword_board.png" class="image" alt="off">
    </div>
    <div class="dox">
        <div>
            dfvb
        </div>
        <div>
            {{ name }}
            {{Down}}
        </div>


    </div>
    </section><br>
    <form action="/filled"><button class="button-3">Answers</button></form>
</body>
</html>